@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@font-face {
    font-family: 'Anticva-Regular';
    src: url('../../fonts/Anticva-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Classica_one';
    src: url('../../fonts/Classica_One.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.text{
    color: #4D728F;
}
html, body {
    margin: 0;
    padding: 0;
}



.slide{
    background-color: #F3F0E6;

    width: 100%;
    min-height: 100dvh;
    padding-bottom: 87px;

}

/* ВТОРОЙ СЛАЙД */
.greeting {
    background-image: url("../images/stroke.svg");
    background-size: cover;
    background-position: center top;    /* центрируем, но прижимаем к верху */
    background-repeat: no-repeat;
    background-color: #F3F0E6;
}

.greeting {
    background-size: 100% auto;    /* ширина 100%, высота по пропорции */
    background-position: center top;
}

/* ТРЕТИЙ СЛАЙД */
.location {
    background-image: url("../images/stroke.svg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #F3F0E6;
}

.location {
    background-size: 100% auto;    /* ширина 100%, высота по пропорции */
    background-position: center top;
}
/* ЧЕТВЁРТЫЙ СЛАЙД */


.parting {
    background-image: url("../images/backparting1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F3F0E6;
}

.parting {
    background-size: 100% auto;    /* ширина 100%, высота по пропорции */
    background-position: center top;
}
/* Для экранов высотой меньше 700px */
@media (max-height: 700px) {
    .greeting, .location, .parting {
        background-size: 100% auto;    /* ширина 100%, высота по пропорции */
        background-position: center 20%;  /* смещаем вверх */
    }

    .greeting-content, .location-content, .parting-content {
        padding-top: 40px;            /* уменьшаем отступ сверху */
    }
}
